<%= stylesheet_link_tag "events" %>
<div id="content">

<h1>Listing issues</h1>

<div class="bubble">
<table class="entry">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @issues.each do |issue| %>
<% next unless issue.parent.nil? %>
  <tr>
    <td><%= link_to "#{issue.id} - #{issue.name}", issue %></td>
    <td><%= link_to 'Show', issue %></td>
    <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
    <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Issue', new_issue_path %>
</div>
<br />
</div>
