<% content_for :page_title do %>
Blog
<% end %>

<div style="whitespace:nowrap;">
  <%= link_to 'Add Post', new_blog_post_path %>
</div>

<% @blog_posts.each do |blog_post| %>
<<<<<<< HEAD
<div class=entry>
    <h2 class=title><%= blog_post.title %></h2>
    <%= blog_post.body %>
    <br/>    
    <%= link_to 'Permalink', blog_post %>
    <%= link_to 'Edit', edit_blog_post_path(blog_post) %>
    <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br/>

    <H3>By Me</H3>
    
    <br/>
    <br/>
</div>
<% end %>


<br />


