<div id="content">
<p id="notice"><%= notice %></p>

<% content_for :page_title do %>
Viewing Event
<% end %>

<div class="entry">

<p>
  <h3><%= @event.name %></h3>
</p>
<p>
  <b>When:</b>
  <%= "From #{@event.start_at.to_s(:pretty)} to #{@event.end_at.to_s(:pretty)}" %>
</p>

<p>
  <b>Attendance:</b>
<br />
<br />
  <table>
    <tr>
      <td> <b>Name</b> </td>
      <td> <b>RSVP</b> </td>
      <td> <b>Here?</b> </td>
    </tr>
    <% @event.attendance.keys.each do |email| %>
    <% att = @event.attendance[email] %>
    <tr>
      <td><%= User.find_by_email(email).full %></td>
      <td><%= att[0] ? "Yes" :"No" %></td>
      <td><%= check_box email, att[1] %></td>
    </tr>
    <% end %>
  </table>
</p>

<br />

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'All Events', events_path %> |
<%= link_to 'Calendar', '/calendar' %>

</div>
<br />
</div>
