<div id="content">
<p id="notice"><%= notice %></p>

<% content_for :page_title do %>
Viewing Event
<% end %>

<div class="entry">

<p>
  <h3><%= @event.name %></h3>
</p>

<p>
  <b>Who:</b>
  <table>
    <th>
      <td> Name </td>
      <td> RSVP </td>
      <td> Here? </td>
    </th>
    <% @event.attendance.keys.each do |email| %>
    <tr>
      <td><%= User.find_by_email(email).full %></td>
      <td><%= @event.attendance[email][0] %></td>
      <td><%= @event.attendance[email][1] %></td>
    </tr>
    <% end %>
  </table>
</p>

<p>
  <b>When:</b>
  <%= "From #{@event.start_at.to_s(:pretty)} to #{@event.end_at.to_s(:pretty)}" %>
</p>


</br>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'All Events', events_path %> |
<%= link_to 'Calendar', '/calendar' %>

</div>
<br />
</div>
