<p id="notice"><%= notice %></p>

<% content_for :page_title do %>
Viewing Event
<% end %>

<div class="entry">

<p>
  <h3><%= @event.name %></h3>
</p>

<p>
  <b>Attendance:</b>
  <%= @event.attendance %>
</p>

<p>
  <b>Timeframe:</b>
  <%= "#{@event.start_at.to_s(:pretty)} to #{@event.end_at.to_s(:pretty)}" %>
</p>

</br>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'All Events', events_path %> |
<%= link_to 'Calendar', '/calendar' %>

</div>
