<!DOCTYPE html>
<html>
  <head>
    <title>RJ FRC</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">

      <div class="left">
	Regis Robotics
      </div>
      
      <div class="right">
	<%= yield :page_title%>
      </div>


    </div>

    <div>
      <%= yield %>
    </div>
    <div class="footer">
      
    </div>
  </body>
</html>
