<html>
  <head>
    <%= stylesheet_link_tag "home" %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="header_div">
      <ul id="header_ul">
	<li id="first" > <%= link_to "First3729", "/home" %> </li>
	<li id="team"> <%= link_to "Team", "/team/about" %> </li>	
	<li id="code"> <%= link_to "Code", "/home" %> </li>
	<li id="build"> <%= link_to "Build", "/home" %> </li>	
	<li id="blog"> <%= link_to "Blog", "/blog" %> </li>	
	<li id="community"> <%= link_to "Community", "/community" %> </li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
