<!DOCTYPE html>
<html>
  <head>
    <title>RJ FRC</title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "layout" %>    
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">

      <div class="left">
	Regis Robotics
      </div>
      
      <div class="right">
	<%= yield :page_title%>
      </div>
    </div>
    
    <div id="side_bar">
      <nav>

	<ul>

	  <li><%= link_to "Blog", :controller => "blog_posts", :action => "index" %> </li>

	  <li><%= link_to "Calendar", :controller => "calendar", :action => "index" %></li>
	  <li>Wiki</li>
	  <li>Git</li>

	</ul>
      </nav>
      </div>

    <div id="content">

      <div id="nav-bar">
	<% if session[:user].nil? %>
	<%= link_to "Sign In", "/login" %>
	<%= link_to "Sign Up", :controller => "users", :action => "new" %>
	<% else %>
	<%= "Logged in as #{session[:user].first} #{session[:user].last}" %> |
	<%= link_to 'Sign Out', :controller => "users", :action => "logout" %>
	<% end %>
	<br />
      </div>
      <br />
      
      <%= yield %>
    </div>
    <div class="footer">

    </div>
  </body>
</Html>
