<html>
  <head>
    <%= stylesheet_link_tag "home" %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= stylesheet_link_tag "app" %>

    <style tpye="text/css">
      ul {
      line-height: 1.7em;
      }
    </style>
    <%= yield :header %>
  </head>
  <body>
    <div id="header_div">
      <ul id="header_ul">
	<li id="first" > <%= link_to "First3729", "/home" %> </li>
	<li id="team"> <%= link_to "Team", "/team" %> </li>
	<li id="community"> <%= link_to "Community", "/community" %> </li>
	<li id="build"> <%= link_to "Build", "/build" %> </li>
	<li id="code"> <%= link_to "Code", "/code" %> </li>
	<li id="blog"> <%= link_to "Blog", "/blog" %> </li>
      </ul>
    </div>
    <%= yield %>
    <div id="footer">
      
    </div>
    <div id="mini" style ="max-width: 100%; left: auto; right: 0px; bottom: 0px; top: auto; position: fixed;">
      <%= yield :mini %>
    </div>
  </body>
</html>
