<%= stylesheet_link_tag "sidebar" %>
<%= stylesheet_link_tag "team" %>
<%= stylesheet_link_tag "blog" %>
<script type="text/javascript">
  $("#team").attr("color", "red");
</script>
<div id="sidebar_div">
  <ul id="sidebar_ul">
    <li><%= link_to "Blog Feed", "/blog"%></li>
    <% if session[:user] %>
    <% if session[:user].blog_access? %>
    <li><%= link_to "New Post", "/blog/new" %></li>
    <% end %>
    <br />
    <li> <%= link_to "Sign Out", "/logout" %> </li>
    <% else %>
    <br />   
    <li> <%= link_to "Sign In", "/login" %></li>
    <li> <%= link_to "Sign Up", "/signup" %></li>    
    <% end %>

  </ul>
</div>

<div id="content_wrapper">
  <%= yield %>
</div>

<%= parent_layout 'application' %>
