<%= stylesheet_link_tag "team" %>
<%= stylesheet_link_tag "sidebar"%>

<div id="sidebar_div">
  <ul id="sidebar_ul">
    <li><%= link_to "About", "/code/about" %></li>
    <li><%= link_to "Git", "/code/git" %></li>
    <li> <%= link_to "Projects", "/code/projects" %></li>
    <br />
    <% if session[:user] %>
    <li> <%= link_to "Sign Out", "/logout" %> </li>
    <% else %>
    <li></li>    
    <li> <%= link_to "Sign In", "/login" %></li>
    <li> <%= link_to "Sign Up", "/signup" %></li>    
    <% end %>

  </ul>
</div>

<div id="content_wrapper">
  <%= yield %>
</div>

<%= parent_layout 'application' %>
