<%= stylesheet_link_tag "innerpage" %>

<div id="sidebar_div">
  <ul id="sidebar_ul">
    <li><%= link_to "About", "/team/about" %></li>
    <li> <%= link_to "Calendar", "/team/calendar" %></li>
    <li>Sign In</li>
    <li>Sign Up</li>
  </ul>
</div>

<div id="content">
  <%= yield %>
</div>

<%= parent_layout 'application' %>
