<%= stylesheet_link_tag "team" %>
<script type="text/javascript">
  $("#team").attr("color", "red");
</script>
<div id="sidebar_div">
  <ul id="sidebar_ul">
    <li><%= link_to "About", "/team" %></li>
    <li> <%= link_to "Calendar", "/calendar" %></li>

    <% if session[:user] %>
    <li> <%= link_to "Issues", "/issues" %> </li>
    <li></li>
    <% if session[:user].admin? %>
    <li>Mail</li>
    <li>Users</li>
    <% end %>
    <li> <%= link_to "Sign Out", "/logout" %> </li>
    <% else %>
    <li></li>    
    <li> <%= link_to "Sign In", "/login" %></li>
    <li> <%= link_to "Sign Up", "/signup" %></li>    
    <% end %>

  </ul>
</div>

<div id="content">
  <%= yield %>
</div>

<%= parent_layout 'application' %>
